<section class="title">
	<div class="ribbon"></div>
	<h1>Check Credit</h1>
	<p>The most powerful credit scoring and verification tools available to property owners and managers</p>
</section>
<section class="content">
	<p class="subheading">Does my prospective tenant have good credit? Have they honored promises to other landlords? What can I find out about their owners? How much should the security deposit be?</p>
	<hr />
	<p>Ben usually knows. Our business credit reports provide insights into most companies in the United States. Our information typically includes the company's age, ownership, revenues, credit history, and public records data relating to both the company and its top managers. <!-- Please Click here for a sample copy. --></p>

	<h2>Pricing</h2>
	<p><b>$100.00</b> / month for Open Book Ben members (<a href="join">join for free</a>)*<br /><b>$299.00</b> / month for non-members*</p>
	
	<p>*These published rates include up to 10 credit reports per month.  Ben can fashion a custom solution for your company if you need access to more than 10 reports per month. Please call us at [REDACTED] or email us at [REDACTED] to learn more.</p>
	
	<h2>Disclaimer</h2>
	<p>While Open Book Ben's commercial credit reports are an excellent place to start, they are not a substitute for our more penetrating and complete <a href="cre/keyScreen">Key Screen</a> product. In any deal in which you have meaningful capital is at risk, we recommend our professionally-prepared Key Screen reports, which assess 150 aspects of a commercial tenant's creditworthiness, solvency, and stability.</p>
	
	<h2>Ordering</h2>
	<p>To order Ben business credit reports, Please call us at [REDACTED] or email us at [REDACTED].</p>
	
	<div class="wrapper"><a href="buy" class="button">BUY NOW</a></div>
</section>