<section class="title">
	<div class="ribbon"></div>
	<h1>Commercial Tenant Key Screen Service</h1>
	<p>Welcome to Key Screen, the real estate industry's most extensive screening and due diligence service</p>
</section>
<section class="content">
	<p class="subheading">Will they pay the rent? Will their company survive the next five years? Are the officers and directors good people who honor their promises?</p>

	<hr />
	
	<p>Ben usually knows. Our Key Screen service is different from our <a href="cre/checkCredit">credit verification</a> product. Key Screen reports connect you with the must-have information you need to make leasing, sale-purchase, and other important business decisions.</p>
	
	<p>Key Screen reports are not generic. They are individually drafted for you by a professional analyst we assign to your company. Our <a href="files/OBB_Key_Screen_Example.pdf" target="_self">deliverable product</a> is a short, easy-to-read, written assessment.</p>
	
	<p>Key Screen reports cover over 150 aspects of a commercial tenant's creditworthiness, solvency, and stability. We even analyze a company's management team. Specific items include: </p>

	<ul class="bulleted">
		<li>Our review and analysis of a tenant's current financials</li>
		<li>Communication with the tenant's prior landlords, if any</li>
		<li>Determination of whether the tenant has prior bankruptcies, evictions, lawsuits, judgment, liens, or other adverse public records data</li>
		<li>Interviews with random trade credit references, not self-serving references</li>
		<li>Background research on officers and directors, including criminal background checks</li>
		<li>Much more, including a review of approximately 150 data points.</li>
	</ul>

	<h2>Pricing</h2>
	<p><b>$500.00</b> per Key Screen report for members who participate in our system (<a href="join">join for free</a>).<br /><b>$1,250.00</b> per Key Screen tenant for non-members</p>
	
	<h2>Please Note</h2>
	<p>Key Screen reports require at least two business days to produce since they are prepared by professionals, not computers.</p>
	
	<h2>Ordering</h2>
	<p>To order Key Screen reports, please call us at [REDACTED] or email us at [REDACTED].</p>
	
	<div class="wrapper"><a href="buy" class="button">BUY NOW</a></div>
</section>