<section class="title">
	<div class="ribbon"></div>
	<h1>Pricing</h1>
	<p>Ben offers several packaged options to fulfill the needs of property managers, owners, and brokers.</p>
</section>
<section class="content">
	<p class="subheading">Here is a simple overview of each of our options, including some some key points on how Ben can help leverage these to protect and enhance your business. </p>
	
	<hr />
	
	<div class="col-xs-12 col-md-4">
		<div class="row1">
			<div class="pricingSprite credit"></div>
			<h1>Check Credit</h1>
		</div>
		<div class="row2">
			<h2><span class="giant">$100</span>/month</h2>
			<p>for members<br /> includes ten reports</p>
		</div>
		<div class="row3">
			<a href="cre/checkCredit">(CLICK TO LEARN MORE)</a>
		</div>

		<ul class="bulleted">
			<li>insights into most companies in the US</li>
			<li>relationships with previous landlords</li>
			<li>includes data on prospective tenant's top managers</li>
			<li>$75 for individual reports</li>
		</ul>

		<a href="buy" class="button hidden-md hidden-lg">BUY NOW</a>
	</div>
	
	<div class="col-xs-12 col-md-4">
		<div class="row1">
			<div class="pricingSprite key"></div>
			<h1>Key Screen</h1>
		</div>
		<div class="row2">
			<h2><span class="giant">$500</span>/report</h2>
			<p>for members</p>
		</div>
		<div class="row3">
			<a href="cre/keyScreen">(CLICK TO LEARN MORE)</a>
		</div>

		<ul class="bulleted">
			<li>detailed, comprehensive review and analysis of a tenant's current financials</li>
			<li>individually drafted for you by a professional analyst assigned to your company</li>
			<li>covers over 150 aspects of creditworthiness</li>
		</ul>

		<a href="buy" class="button hidden-md hidden-lg">BUY NOW</a>
	</div>
	
	<div class="col-xs-12 col-md-4">
		<div class="row1">
			<div class="pricingSprite rentRoll"></div>
			<h1>Rent Roll Audit</h1>
		</div>
		<div class="row2">
			<h2><span class="giant">$500</span>/tenant</h2>
			<p>for members</p>
		</div>
		<div class="row3">
			<a href="cre/rentRoll">(CLICK TO LEARN MORE)</a>
		</div>

		<ul class="bulleted">
			<li>a comprehensive analysis of each tenant at the property</li>
			<li>review of each tenant's current financials and credit standing</li>
			<li>inclusion of adverse events, such as bankruptcies, lawsuits, judgments, liens</li>
		</ul>

		<a href="buy" class="button hidden-md hidden-lg">BUY NOW</a>
	</div>
	
	<div class="visible-md visible-lg col-xs-12">
		<div class="col-md-4">
			<a href="buy" class="button">BUY NOW</a>
		</div>
		<div class="col-md-4">
			<a href="buy" class="button">BUY NOW</a>
		</div>
		<div class="col-md-4">
			<a href="buy" class="button">BUY NOW</a>
		</div>
	</div>
	
</section>