<section class="title">
	<div class="ribbon"></div>
	<h1>Rent Roll Audit</h1>
	<p>If you are buying or selling office, retail, or warehouse property, Ben can certify a rent roll and remove doubt</p>
</section>
<section class="content">
	<p class="subheading">It is all about the cash flow. Will the tenants faithfully pay the rent? Are their companies stable? Or are they on life support? What is likely to happen at renewal time?</p>
	
	<hr />

	<p>Ben usually knows. Whether you are buying, selling, or brokering a property, Ben can <a href="cre/keyScreen">Key Screen</a> an entire rent roll and bring information, certainty, and wisdom to your due diligence efforts.</p>
	
	<p>Our deliverable product is a comprehensive analysis on every tenant at the property. Our easy-to-read assessments are professionally prepared, not computer generated.</p>
	
	<p>Pricing varies, so please contact sales at [REDACTED] for more information.</p>
	
	<p>Our reports cover over 150 aspects of a commercial tenant's creditworthiness, solvency, and stability. We even analyze a company's management team. Specific items include:</p>
 	
 	<ul class="bulleted">
 		<li>Our review and analysis of a tenant's current financials</li>
 		<li>Analysis of a tenant's current credit standing</li>
 		<li>Background research on officers and directors</li>
 		<li>Review of current or prior bankruptcies, lawsuits, judgment, liens, or other adverse public records data</li>
 	</ul>
 	
	<div class="wrapper"><a href="buy" class="button">BUY NOW</a></div>
</section>