<section class="title">
	<div class="ribbon"></div>
	<h1>Testimonials</h1>
	<p>Ben has relevant data and insights on over 30 million companies. We are the best choice for property owners and managers who need to assess risk. Here are a few comments from real customers.</p>
</section>
<section class="content">
	<p>"I just wanted to take a moment and thank you for Open Book Ben's work on the Key Screen report. We asked you to screen a new office tenant for us.  You really helped us dodge a bullet.</p>
	
	<p>For years, I have handled screening and due diligence myself for our Denver office building. I would typically conduct a local public records check of the company and its owner.  To be candid, part of the process involved "using my better instincts" after having several meetings in person.</p>
	
	<p>Had I handled this particular screening, I would never have discovered the information you did. You found several out-of-state incidents. These were extremely big red flags. We have declined to lease to this particular tenant. Significantly, we avoided over $150,000 in tenant improvement exposure for a company that appears to have breached two prior office leases.</p>
	
	<p>Robin, thank you again.  You have a loyal customer in us. We expect to send more screening and general business credit report requests in the near future. You may use this letter any way you wish, if it will help you get the word out!"</p>

	<p>Sincerely yours,</p>
	
	<div class="signature clear">
		<img src="img/carolineTestimonial.png" alt="" />
		<strong>Caroline Johnston</strong>
		<p>Property Manager of the Cherry Creek East Office Building</p>
		<em>Denver, Colorado</em>
	</div>
	<a href="img/13-11-14-LTR-from-Caroline-Johnston-of-Cherry-Creek-East_02.jpg" target="_self">View her original letter</a>
</section>