<li><a href="cre/checkCredit"	ng-class="{active: Site.page == 'checkCredit'}">CHECK CREDIT</a></li>
<li><a href="cre/keyScreen"		ng-class="{active: Site.page == 'keyScreen'}">SCREEN TENANTS</a></li>
<li><a href="cre/rentRoll"		ng-class="{active: Site.page == 'rentRoll'}">RENT ROLL AUDIT</a></li>
<li><a href="cre/pricing"		ng-class="{active: Site.page == 'pricing'}">PRICING</a></li>
<li><a href="cre/testimonials"	ng-class="{active: Site.page == 'testimonials'}">TESTIMONIALS</a></li>
<li><a href="news"				ng-class="{active: Site.page == 'news'}">NEWS</a></li>
