<section class="title">
	<div class="ribbon"></div>
	<h1>About Ben</h1>
	<p>We're happy to share a bit about who we are, what we want to do, and why we think it's supremely important we get to do it. Here you are.</p>
</section>
<section class="content">
	<h2>When technology and philosophy intersect to form a more perfect credit bureau. You asked. We listened.</h2>

	<p>Open Book Ben is a credit bureau. We rate and credit score businesses, not individuals. We are transparent and encourage companies to participate in our credit scoring process. Your involvement brings you insights into your own customers and suppliers in a way never possible before.</p>
	
	<p>Ben believes in symmetrical information. We all make better decisions if we have the right tools and information. Our system helps you forge good and lasting relationships with ethical and responsible companies. It helps you avoid relationship with risky customers and vendors.</p>
	
	<p>Come join the revolution Ben has started in the business credit marketplace.</p>
	
	<p><a href="join">Join now</a></p>
</section>