<section class="title">
	<div class="ribbon"></div>
	<h1>Ben is Better</h1>
	<p>The difficulty in working with a credit reporting agency is cliche in modern culture. Open Book Ben wants to bring transparent and business-reportable credit data to small and medium-sized businesses.</p>
</section>
<section class="content">
	<h2>Open Book Ben was inspired by Benjamin Franklin, who devoted much of his life to connecting the public with information.</h2>

	<p>Franklin founded the first public circulating library in 1731, the first almanac, newspapers, and the first debating society. The key premise behind OBB is to open up the black box and turn the process of commercial credit reporting into an open book.</p>
	
	<p>The current system is broken. The existing credit bureaus' systems are proprietary, one-directional, secretive, and unavailable to most of the public. They are also costly. Ben challenges the existing paradigm by empowering the public at large to enhance and to take control of their corporate credit files.</p>
	
	<p>"The problem is not that they make mistakes. It is that they won't fix the mistakes." Ohio Attorney General Mike DeWine on the current credit system.</p>
	
	<p>Watch the <a href="http://www.cbsnews.com/video/watch/?id=50153672n">60 Minutes Expose on the credit industry</a></p>
	<!-- http://www.cbsnews.com/video/watch/?id=50153672n -->
	<!-- <embed src="http://i.i.cbsi.com/cnwk.1d/av/video/cbsnews/atlantis2/cbsnews_player_embed.swf" type="application/x-shockwave-flash" background="#333333" width="425" height="279" allowFullScreen="true" allowScriptAccess="always" FlashVars="si=254&contentValue=999999&shareUrl=http://www.cbsnews.com/videos/40-million-mistakes-is-your-credit-report-accurate/" /> -->
	
	<p>Ben is better. Ben is Fair. Ben wants your input.</p>
	
	<ul class="bulleted">
		<li>Take ownership of your company's (Ben) listing. Participate and help determine your company's credit score.</li>
		<li>Submit trade references, pay experiences, rate vendors, and change basic info.</li>
		<li>Easily dispute erroneous or malicious info in your credit report with one click.</li>
	</ul>
</section>