<section class="title">
	<div class="ribbon"></div>
	<h1>Contact Ben</h1>
	<p>We are making huge strides daily and weekly, and would love to hear from you with any comments, suggestions, or ideas.</p>
</section>
<section class="content">
	<h2>Send Ben a Message</h2>
	
	<form action="php/mailer.php" method="post">
		<input type="hidden" name="thingTheUserWantsToDo" value="Contact">
		<div class="col-sm-12 col-md-4">
			<div class="wrapper"><input type="text" name="firstName" placeholder="FIRST NAME" /></div>
			<div class="wrapper"><input type="text" name="lastName" placeholder="LAST NAME" /></div>
			<div class="wrapper"><input type="text" name="company" placeholder="COMPANY NAME" /></div>
			<div class="wrapper"><input type="text" name="phone" placeholder="PHONE NUMBER" /></div>
			<div class="wrapper"><input type="email" name="email" placeholder="EMAIL ADDRESS" /></div>
		</div>
		<div class="col-sm-12 col-md-8">
			<div class="wrapper"><textarea name="comments" placeholder="YOUR MESSAGE"></textarea></div>
			
			<div class="buttons">
				<div class="wrapper"><input type="submit" value="SEND MESSAGE" disabled/></div>
			</div>
		</div>
	</form>

	[REDACTED]
</section>