<section class="title">
	<div class="ribbon"></div>
	<h1>Sign In/Join</h1>
	<p>To manage your companies and obtain the most complete data on other companies, register for an account with Ben. Or if you're already with Ben, sign in here. </p>
</section>
<section class="content">
	<form class="col-xs-12 col-sm-5">
		<h2>Sign in</h2>
		
		<div class="wrapper"><input type="email" placeholder="EMAIL" ng-model="user.email"/></div>
		
		<div class="wrapper"><input type="password" placeholder="PASSWORD" ng-model="user.password"/></div>
		
		<a href="recover">FORGOT YOUR PASSWORD?</a>
		
		<div class="buttons">
			<input type="submit" value="SIGN IN" ng-click="login(user)"/>
		</div>
	</form>

	<form class="col-xs-12 col-sm-5 col-sm-offset-1">
		<h2>Join</h2>
		
		<div class="wrapper"><input type="email" placeholder="EMAIL" ng-model="newUser.email"/></div>
		
		<div class="wrapper"><input type="password" placeholder="PASSWORD" ng-model="newUser.password"/></div>
		
		<div class="wrapper"><input type="password" placeholder="CONFIRM PASSWORD" /></div>
		
		<div class="wrapper"><textarea disabled>
			TOS TO GO HERE
		</textarea></div>
		
		<label>I AGREE TO THE TERMS OF SERVICE <input type="checkbox" /></label>
		
		<div class="buttons">
			<input type="submit" value="JOIN" ng-click="register(newUser)"/>
		</div>
	</form>
</section>